 @font-face {
            font-family: 'titr';
            src: url('/artarad_post_dated_cheque/static/src/fonts/BTitr.ttf')format('truetype');
        }
 @font-face {
            font-family: 'kodak';
            src: url('/artarad_post_dated_cheque/static/src/fonts/BKoodkBd.ttf')format('truetype');
        }
 @font-face {
            font-family: 'nazanin';
            src: url('/artarad_post_dated_cheque/static/src/fonts/BNazanin.ttf')format('truetype');
        }