/*======================  Compare  =======================*/
.oe_website_sale .product_summary{
    > *{
        margin: 0px 0 8px 0;
    }
    .o_product_comparison_table{
        margin: 0;
    }
    > span {
    	width:100%;
        display:inline-block;
    }
}
#o_comparelist_table.te_compare_table {
    border: 0 !important;
    > :not(:first-child) {
        border-top: 0;
    }
    > :not(caption) > * {
        border-width: 0 !important;
    }
     > :not(caption) > * > * {
      border: 1px solid #dee2e6 !important;
    }
    .te_cmp_img_div{
        display: block;
        border: 1px solid #ededed;
    }
    .product_summary {
        position: relative;
    }
    @media (max-width:1000px){
		max-width: 1000px;
		display: block;
		overflow-x: auto;
		td{
			min-width: 240px !important;
		}
	}
	thead {
		td {
			border: 0!important;
			.img-fluid {
			    height: 200px;
			    object-fit: scale-down;
			}
		}
	}
	tbody {
		tr {
			td {
			    border: 1px solid #dee2e6 !important;
				@include style(3,7,inherit)
				&:first-child {
					text-align:left;
					@include style(3,3,inherit)
                    font-weight: 500;
				}
			}
            border-bottom:1px solid $border-color;
            &:last-child{
                border-bottom:0;
            }
		}
		.clickable {
			th {
				font-weight: normal;
				cursor: pointer;
				@include style(2,6,inherit,inherit,uppercase)
				@include spacing(0.03rem)
			}
		}
	}
	.te_close {
		height: 29px;
    	width: 29px;
    	z-index: 2;
    	background-color: nth($f_color,5);
        @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.15))
        border: solid 1px rgba(0, 0, 0, 0.06);
        @include border-radius(50px)
        color: nth($f_color,4);
        @include position(null,null,null,auto,auto);
    	strong {
	    	font-size: 12px;
    	}
	}
	.text-danger{
		color:nth($f_color,9) !important;
		font-size: $font-size-base - 0.125 !important;
	}
}
.compare_products_heading {
	@include border(0 0 1px 0,17,solid)
	@include media-breakpoint-down(lg){
		font-size:nth($f_sizes,4);
	}
}
.o_product_feature_panel{
	.popover-header, .popover-body {
        padding: 0.5rem 0.75rem;
    }
	.text-danger{
		color:nth($f_color,9) !important;
	}
	.o_product_panel .o_product_panel_header{
        display: flex;
        align-items: center;
        .o_product_icon{
            margin-right: 8px;
        }
        .o_product_circle{
            border-radius: 4px;
            margin-left: 0.2rem;
            vertical-align: middle;
        }
    }
	.o_comparelist_products{
        .o_product_row{
            background-color:#f1f1f1;
            border-radius:5px;
            .col-8 a{
                font-size: 12px;
            }
            del{
                font-size: 0.875em;
            }
        }
    }
}

/* similar product popover */
.offcanvas_similar_product{
    border-radius: 0;
    @include media-breakpoint-up(md){
        min-width: 407px;
    }
    .offcanvas-header{
        background-color: white;
        text-align: center;
    }
    .offcanvas-body{
        overflow-y: auto;
        padding: 0.5rem;
        margin-right: 0.5rem;
        @include o-wsale-scrollbar-subdles();
        .similar_products_view_content{
            .col-md-6{
                padding: 0 10px 0 10px;
            }
            .main_card{
                border: 1px solid #80808036;
                text-align: center;
                @include transition(all, 0.4s, ease);
                &:hover{
                    box-shadow: 0 3px 12px #ccc;
                }
                .oe_currency_value:not(del .oe_currency_value){
                    font-size: 0.875rem;
                }
                del{
                    font-size: 0.775em;
                }
            }
        }
    }
}
