/*================ Footer Style 1 ==================*/
@if o-website-value('footer-template') == 'option_footer_01' {
    footer.o_footer {
        ul {
            li {
                padding: 4px 0;
            }
        }
        .te_footer_info_ept section {
            li {
                i {
                    font-size: inherit;
                    @include position(relative, 0);
                    opacity: 0;
                    @include transition(all, .5s);
                    margin-right: -15px;
                }
                &:hover {
                    i {
                        opacity: 1;
                        margin-right: 5px;
                    }
                }
            }
        }
        .te_block_title {
            font-size: inherit;
        }
        .te_footer_info_text {
            >li {
                padding: 10px 0;
            }
            .te_ftr_text_style {
                width: calc(100% - 24px);
            }
        }
        .te_newsletter_title h5 {
           margin-bottom: 12px;
           font-size: $o-font-size-base;
        }
        .js_language_selector {
            margin-top: 0px;
            button {
                box-shadow: none !important;
                color: map-get($theme-colors, 'primary') !important;
                &:hover{
                    background-color: transparent !important;
                }
            }
            &.dropup {
                .dropdown-menu.show a{
                    &.active {
                        background-color: map-get($theme-colors, 'primary');
                    }
                    &:hover{
                        color: map-get($theme-colors, 'primary') !important;
                    }
                }
            }
        }
        .te_newsletter_content {
            @include media-breakpoint-down(sm){
                padding-bottom: 5px;
            }
        }
        .te_copyright_add_language {
            text-align: right;
            @include media-breakpoint-down(sm) {
                text-align: left;
                margin-top: 16px;
            }
        }
        .te_informations_s {
            @include media-breakpoint-down(sm){
                padding-bottom: 1.5rem !important;
            }
        }
    }
    .te_footer_detail {
        .te_footer_logo_title_socialicon {
            .te_footer_logo_img {
                img {
                    max-width: 100px;
                }
            }
            @include media-breakpoint-down(sm) {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        span.te_footer_add_tel_email_text_ept {
            width: 15px;
            span {
                font-size: 20px;
                margin-top: 4px;
            }
        }
    }
    .te_newsletter_main .js_language_selector .dropdown-menu{
        @include media-breakpoint-down(sm){
            transform: translate3d(65px, -73px, 0px) !important;
        }
    }
    section.te_payment_list img {
        max-height: 30px;
    }
    .s_newsletter_subscribe_form {
        .js_subscribe_value,
        .js_subscribe_btn,
        .btn-success {
            font-size: $o-font-size-base;
            padding:0.2rem 0.5rem;
            height: 38px;
            line-height: 30px;
            border-radius: 0px;
        }
    }
}
/*================ Footer Style 2 ==================*/
@if o-website-value('footer-template') == 'option_footer_02' {
    footer.o_footer {
        h5.mb16 {
            text-transform: uppercase;
        }
        .payment_icons {
            .img_span{
                width: 65px;
                height: 45px;
                display: inline-block;
                img{
                    max-width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    margin-top: 5px;
                    display:block;
                }
            }
        }
        .website_logo{
            @include media-breakpoint-down(md){
                img{
                    width: 50%;
                }
            }
        }
    }
}
/*================ Footer Style 3 ==================*/
@if o-website-value('footer-template') == 'option_footer_03' {
    footer.o_footer {
        .te_footer_contact_detail{
            .te_ftr_text_style{
                width: 90%;
            }
            .fa {
                font-size: 18px;
                margin-top: 4px;
            }
            & ul li {
                padding-bottom: 15px;
            }
        }
        .o_footer_copyright{
            background-color: transparent;
            & .container{
                border-top: 1px solid #FFFFFF;
            }
        }
        .copyright_links {
            @include media-breakpoint-up(sm){
                display: inline;
            }
            @include media-breakpoint-down(sm){
                text-align: center;
                padding-top: 15px;
                margin-bottom: 0px;
            }
            & li{
                @include media-breakpoint-up(sm){
                    display: inherit;
                    padding: 0px 10px !important;
                    white-space: pre-wrap;
                    &:last-child{
                        padding-right: 0px !important;
                    }
                }
                &.divider{
                    @include media-breakpoint-up(sm){
                        border-right: 1px solid nth($f_color,19);
                    }
                }
            }
        }
        .te_footer_follow_detail{
            input.js_subscribe_value.form-control {
                border-color: rgba(255, 255, 255, 0.5) !important;
                background-color: transparent !important;
                height: 50px;
                border-radius: 4px;
                color: #fff;
            }
            .js_subscribe_btn{
                border-radius: 0px 4px 4px 0px;
                border-color: rgba(255, 255, 255, 0.5) !important;
                height: 50px;
                width: 40px;
                padding: 0;
                border-style: solid;
                /*position: absolute;
                top: 0;
                right: 0;*/
                font-size: 0;
                background: #f0f0f0 url('/theme_clarico_vega/static/src/img/footer_icons/plus.png') no-repeat center;
                background-size: 16px;
                -webkit-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
            p.h4-fs {
                font-size: 18px;
                text-align: left !important;
                font-weight: 600;
            }
        }
        h5.mb16 {
            text-transform: capitalize;
        }
    }
}

/*================ Footer Style 4 ==================*/
@if o-website-value('footer-template') == 'option_footer_04' {
    footer.o_footer {
        .newsletter_top_block{
            background-color: nth($f_color,19);
            & .signup_strg{
                @include media-breakpoint-down(md){
                    margin-bottom: 10px!important;
                }
            }
            & .js_subscribe{
                width: 65%;
                @include media-breakpoint-down(md){
                    width: 100%;
                }
                .js_subscribe_value {
                    background-color: transparent;
                    border-color: white;
                    color: white;
                    border-radius: 0px;
                    border-right: none;
                    max-width: 100%;
                    height: 40px;
                }
                a.btn.btn-primary.js_subscribe_btn.o_submit {
                    letter-spacing: 2.5px;
                    min-width: 128px;
                    border-left: none;
                    background-color: #fff !important;
                    color: #000 !important;
                    border-color: #e1e1e1;
                    border-radius: 0px;
                    text-transform: uppercase;
                    text-align: center;
                    transition: all .2s ease-out;
                    padding: 7px 8px;
                    @include media-breakpoint-down(md){
                        letter-spacing: 1.5px;
                        padding: 7px 5px;
                    }
                }
            }
        }
        .footer_links{
            & li{
               @include media-breakpoint-down(sm){
                    display: block;
               }
            }
        }
        .newsletter_block_inner {
            @include media-breakpoint-down(md){
                display: block !important;
            }
        }
        .social_media_icons{
            @include media-breakpoint-down(lg){
                padding-top: 20px;
                text-align: left !important;
            }
            .s_social_media_title{
                font-size: 16px;
                text-transform: uppercase;
                @include media-breakpoint-down(md){
                    display: block;
                    text-align: left;
                    margin: 10px 0px;
                }
            }
        }
    }
}

/*================ Footer Style 5 ==================*/
@if o-website-value('footer-template') == 'option_footer_05' {
    footer.o_footer {
        .img_span{
            img{
                width: 60%;
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
                @include media-breakpoint-down(md){
                    width: 90%;
                }
            }
        }
        .payment_icons{
            @include media-breakpoint-down(sm){
                text-align: center !important;
                margin-top: 10px;
            }
        }
        .bt_ln{
            border-bottom: 1px solid #ffffff;
        }
        .te_footer_detail h5 {
            font-weight: 600;
        }
        & .oe_img_bg.o_bg_img_center {
            @include media-breakpoint-down(lg){
                background-position: top;
                background-size: auto;
            }
        }
    }
}

/*================ Footer Style 6 ==================*/
@if o-website-value('footer-template') == 'option_footer_06' {
    footer.o_footer {
        .newsletter_block{
            h5 {
                width: 80%;
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
            }
            .js_subscribe{
                input.js_subscribe_value {
                    background-color: #fff;
                    border-color: #e1e1e1;
                    color: black;
                    max-width: 100%;
                    height: 40px;
                    border-radius: 0px;
                }
                .js_subscribe_btn{
                    border-radius: 0px 4px 4px 0px;
                    border-color: rgba(255, 255, 255, 0.5) !important;
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    z-index: 9;
                    border-style: solid;
                    font-size: 0;
                    background: #f0f0f0 url('/theme_clarico_vega/static/src/img/footer_icons/plus.png') no-repeat center;
                    background-size: 16px;
                    -webkit-transition: all .2s ease-out;
                    transition: all .2s ease-out;
                }
            }
        }
        .s_social_media{
            .fa{
                font-size: 24px;
            }
        }
        .o_footer_copyright{
             @include media-breakpoint-down(lg){
                .o_footer_logo{
                    text-align: center;
                }
                .copyright_string{
                    text-align: center !important;
                }
                .payment_icons {
                    text-align: center !important;
                    padding-top: 15px;
                }
            }
            @include media-breakpoint-down(sm){
                img.o_we_custom_image{
                    width: 65%;
                }
            }
        }
    }
}

/* Scroll to Top */
#o_footer_scrolltop_wrapper{
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    z-index: 10;
    @include media-breakpoint-down(md){
        bottom: 7rem;
        right: 1rem;
    }
}
/* Common style */
footer{
    .te_footer_detail{
        ul {
            li > a,
            li font {
              text-decoration: none;
              &:hover{
                color:nth($f_color,19) !important;
              }
            }
        }
    }
}

