/* Rating design */
.o-mail-Chatter-content{
    margin-top: 1rem;
}
.o-mail-Chatter-top, .o-mail-Thread{
    border: 1px solid #ededed;
    padding: 15px 15px;
    border-radius: 10px;
    box-shadow: 0 3px 12px #ccc;
}
.o_wrating_publisher_container{
    margin-top:0.5rem;
}
